function Block.Inizialize 0
push constant 22
pop static 0
push constant 16
pop static 1
push constant 0
return
function Block.Create 0
push constant 8
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 2
push argument 1
pop this 3
push argument 2
pop this 4
push argument 0
push static 1
call Math.multiply 2
push constant 5
sub
pop this 0
push argument 1
push static 0
call Math.multiply 2
push constant 6
sub
pop this 1
push constant 0
pop this 5
push constant 0
pop this 7
push argument 2
push constant 8
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 6
label IF_FALSE0
push pointer 0
return
function Block.Open 1
push argument 0
pop pointer 0
push pointer 0
pop local 0
push this 7
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 7
label IF_FALSE0
push constant 0
not
pop this 5
push local 0
call Block.DrawBased 1
pop temp 0
push constant 0
return
function Block.CanOpen 0
push argument 0
pop pointer 0
push this 5
not
push this 6
not
and
return
function Block.IsNull 0
push argument 0
pop pointer 0
push this 4
push constant 0
eq
return
function Block.IsBoom 0
push argument 0
pop pointer 0
push this 6
return
function Block.ChangeLabel 0
push argument 0
pop pointer 0
push this 5
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 7
not
pop this 7
label IF_FALSE0
push constant 0
return
function Block.DrawLabel 0
push argument 0
pop pointer 0
push this 5
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 3
push this 3
add
push this 2
push this 2
add
call Output.moveCursor 2
pop temp 0
push constant 63
call Output.printChar 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Block.DrawValue 0
push argument 0
pop pointer 0
push this 4
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 3
push this 3
add
push this 2
push this 2
add
call Output.moveCursor 2
pop temp 0
push this 4
call Output.printInt 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Block.DrawMine 3
push argument 0
pop pointer 0
push this 0
push constant 8
add
pop local 1
push this 1
push constant 11
add
pop local 2
push constant 3
pop local 0
push local 1
push local 2
push local 0
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Block.DrawSelected 6
push argument 0
pop pointer 0
push pointer 0
pop local 4
push local 4
call Block.DrawBased 1
pop temp 0
push constant 2
pop local 5
push this 0
push local 5
add
pop local 0
push this 1
push local 5
add
pop local 1
push local 0
pop local 2
push local 1
push static 0
add
push local 5
sub
push local 5
sub
pop local 3
push local 0
push local 1
push local 2
push local 3
call Screen.drawLine 4
pop temp 0
push local 3
pop local 1
push local 0
push static 1
add
push local 5
sub
push local 5
sub
pop local 2
push local 0
push local 1
push local 2
push local 3
call Screen.drawLine 4
pop temp 0
push local 2
pop local 0
push local 1
push static 0
sub
push local 5
add
push local 5
add
pop local 3
push local 0
push local 1
push local 2
push local 3
call Screen.drawLine 4
pop temp 0
push local 3
pop local 1
push local 0
push static 1
sub
push local 5
add
push local 5
add
pop local 2
push local 0
push local 1
push local 2
push local 3
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Block.DrawBased 6
push argument 0
pop pointer 0
push pointer 0
pop local 5
push local 5
call Block.FillWhite 1
pop temp 0
push this 5
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 6
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 5
call Block.DrawMine 1
pop temp 0
goto IF_END1
label IF_FALSE1
push local 5
call Block.DrawValue 1
pop temp 0
label IF_END1
goto IF_END0
label IF_FALSE0
push this 7
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 5
call Block.DrawLabel 1
pop temp 0
goto IF_END2
label IF_FALSE2
push this 0
push constant 5
add
push this 1
push constant 5
add
push this 0
push static 1
add
push constant 5
sub
push this 1
push static 0
add
push constant 5
sub
call Screen.drawRectangle 4
pop temp 0
label IF_END2
label IF_END0
push this 0
pop local 0
push this 1
pop local 1
push local 0
pop local 2
push local 1
push static 0
add
pop local 3
push local 0
push local 1
push local 2
push local 3
call Screen.drawLine 4
pop temp 0
push local 3
pop local 1
push local 0
push static 1
add
pop local 2
push local 0
push local 1
push local 2
push local 3
call Screen.drawLine 4
pop temp 0
push local 2
pop local 0
push local 1
push static 0
sub
pop local 3
push local 0
push local 1
push local 2
push local 3
call Screen.drawLine 4
pop temp 0
push local 3
pop local 1
push local 0
push static 1
sub
pop local 2
push local 0
push local 1
push local 2
push local 3
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Block.FillWhite 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push static 1
add
push this 1
push static 0
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
